.chessn00b-rank
{
	width: 100%;
	overflow: auto;
}

.chessn00b-square,
.chessn00b-file-marker
{
	width: 12.5%;
	float: left;
	text-align: center;
}

.chessn00b-dark-square
{
	background-color: #b58863;
}

.chessn00b-light-square
{
	background-color: #f0d9b5;
}

.chessn00b-inner-board
{
	float: left;
}

.chessn00b-rank-markers
{
	float: left;
	padding-left: 0.55em;
	padding-right: 0.55em;
}

.chessn00b-file-markers
{
	clear: both;
	padding-top: 0.3em;
	/* these make it show up when there is an overlapping border on the inner board */
	overflow: auto;
	position: relative;
	z-index: 2;
}

.chessn00b-square-lit
{
	background-color: #29f;
}

.chessn00b-status
{
	clear: both;
	padding-top: 0.5em;
}

.chessn00b-status .illegal-move
{
	color: #c22f12;
}

.chessn00b-promote .promote-black
{
	display: none;
}

.chessn00b-promote
{
	position: relative;
	z-index: 100;
	background: #fff;
	padding: 0.5em 1em;
	border-radius: 1em;
	box-shadow: 0.5em 0.5em 1em #999;
	display: none;
	overflow: auto;
}

.chessn00b-promote .chessn00b-square
{
	/* override the 12.5% */
	width: 25%;
}

.chessn00b-promote a
{
	text-decoration: none;
}

.chessn00b-animator
{
	position: absolute;
	z-index: 100;
	float: none;
	display: none;
}
