.chessn00b-rank
{
	width: 100%;
	overflow: auto;
}

.chessn00b-square
{
	width: 12.5%;
	float: left;
	font-family: Arial, sans-serif; 
	text-align: center;
}

.chessn00b-dark-square
{
	background-color: #b58863;
}

.chessn00b-light-square
{
	background-color: #f0d9b5;
}

.chessn00b-square-lit
{
	background-color: #29f;
}

.chessn00b-status
{
	font-family: sans-serif;
}

.chessn00b-status .illegal-move
{
	color: #c22f12;
}

.chessn00b-promote .promote-black
{
	display: none;
}

.chessn00b-promote
{
	position: relative;
	z-index: 100;
	background: #fff;
	padding: 0.5em 1em;
	border-radius: 1em;
	box-shadow: 0.5em 0.5em 1em #999;
	display: none;
	overflow: auto;
}

.chessn00b-promote .chessn00b-square
{
	/* override the 12.5% */
	width: 25%;
}

.chessn00b-promote a
{
	text-decoration: none;
}
